.active {
  color: #1881f2 !important;
}

main {
  margin: 0 0.5rem;
}
main .separator {
  background: linear-gradient(90deg, #001c3c 0%, #c83e47 100%);
  height: 5px;
  margin: 0 -0.5rem;
}

@media (min-width: 1200px) {
  main {
    width: 69rem;
    margin: 0 auto;
  }
  main .separator {
    visibility: hidden;
  }
}
* {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-image: url("../images/5393627.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #001c3c !important;
}

header {
  margin: 0 3rem;
}
header nav a {
  font-size: 2rem !important;
}
header nav ul li a {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
}

@media (min-width: desktop) {
  header nav {
    margin: 0 auto;
    padding-top: 4.5rem !important;
    width: 69rem;
  }
  header nav a {
    font-size: 3rem !important;
  }
  header nav ul li a {
    font-size: 1.125rem !important;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1.25rem;
  gap: 1rem;
  align-items: center;
}
footer .social-media {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 1200px) {
  footer {
    width: 69rem;
  }
}
.banner-section {
  margin-top: 1.5rem;
}
.banner-section__title {
  color: #c83e47;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1200px) {
  .banner-section__title {
    font-size: 3rem;
    line-height: 2.875rem;
  }
}
.banner-section__subtitle {
  color: #001c3c;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1200px) {
  .banner-section__subtitle {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
.banner-section__image img {
  width: 12.5rem;
  height: auto;
}

.service-section {
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
}
.service-section__title {
  font-size: 1.375rem;
}
.service-section__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  padding-top: 1.5rem;
}
.service-section__content__service-element {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 9.67rem;
}
.service-section__content__service-element h3 {
  font-size: 1.125rem;
}
.service-section__content__service-element img {
  width: 9.75rem;
  height: auto;
}

.testimonials-section {
  background-color: #d9d9d9;
}

@media (min-width: 1200px) {
  .banner-section__title {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
  .banner-section__subtitle {
    font-size: 2rem;
    line-height: 2.375rem;
  }
  .banner-section__image img {
    width: 37.5rem;
    height: auto;
  }
  .service-section {
    margin-top: 3rem;
    padding-top: 2rem;
  }
  .service-section__title {
    font-size: 2.5rem;
  }
  .service-section__content {
    padding-top: 5rem;
  }
  .service-section__content__service-element {
    width: 18.75rem;
  }
  .service-section__content__service-element img {
    width: 18.75rem;
    height: auto;
  }
}
#formulario-inicio {
  background-color: #001c3c;
  max-width: 30%;
  border-radius: 12px;
  align-items: center;
  margin: 3rem auto;
  padding: 2rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  color: #001c3c;
  justify-content: space-around;
}
#formulario-inicio div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
#formulario-inicio div label {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}
#formulario-inicio div input {
  padding: 0.25rem 1rem;
  border-radius: 6px;
  border: 1px;
}
#formulario-inicio div button {
  border-radius: 12px;
  width: 50%;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  background-color: #1881f2;
  color: aliceblue;
  border: 1px;
}

#nuestro-equipo {
  margin-top: 4rem;
}

#nuestro-equipo img {
  border-radius: 12px;
}

.title-section {
  margin-top: 1.5rem;
}
.title-section h2 {
  color: #001c3c;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1200px) {
  .title-section h2 {
    font-size: 3rem;
    line-height: 2.875rem;
  }
}
.title-section h3 {
  color: #001c3c;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1200px) {
  .title-section h3 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

/*# sourceMappingURL=style.css.map */
