.banner-section{
  &__title {
    color: $red;
    font-weight: bold;
  }

  &__subtitle {
    color: $dark_blue;
    font-weight: bold;
  }

  &__image{
    img {
      @include size(12.5rem, auto);
    }
  }
}

.service-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;

  &__service-element {
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  &__service-element {
    img {
      @include size (200px, auto);
      border-radius: 12px;
    }
  }
}

.testimonials-section {
  background-color: $white;
}

@media (min-width: $view-xl) {
  .banner-section{
    &__title {
    font-size: 2.5rem;
    line-height: 2.875rem;
    }

    &__subtitle {
      font-size: 2rem;
      list-style: 2.375rem;
    }

    &__image{
      img {
        @include size(37.5rem, auto);
      }
    }
  }

  .service-section {
    &__service-element {
      img {
        @include size(18.75rem, auto);
      }
    }
  }
}
