footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1.25rem;
  gap: 1rem;
  align-items: center;

  .social-media {
    display: flex;
    gap: 0.5rem;
  }
}

@media (min-width: $view-l) {
  footer {
    width: 69rem;
  }
}
