header {
  margin: 0 3rem;

  nav {
    a {
      font-size: 2rem !important;
    }

    ul {
      li {
        a {
          font-size: 1.125rem !important;
          font-weight: 600 !important;
        }
      }
    }
  }
}

@media (min-width: desktop) {
  header {
    nav {
      margin: 0 auto;
      padding-top: 4.5rem !important;
      width: 69rem;

      a {
        font-size: 3rem !important;
      }

      ul {
        li {
          a {
            font-size: 1.125rem !important;
          }
        }
      }
    }
  }
}
