header {
  margin: 0 3rem;

  nav {
    ul {
      li {
        a {
          font-size: 1.125rem !important;
          font-weight: 600 !important;
        }
      }
    }

    a {
      font-size: 2rem !important;
    }
  }
}
