main {
  margin: 0 0.5rem;

  .separator {
    background: linear-gradient(90deg, #001c3c 0%, #c83e47 100%);
    height: 5px;
    margin: 0 -0.5rem;
  }
}

@media (min-width: $view-l) {
  main {
    width: 69rem;
    margin: 0 auto;

    .separator {
      visibility: hidden;
    }
  }
}
