//Variables de colores
$dark_blue: #001c3c;
$light_blue: #1881f2;
$red: #c83e47;
$white: #d9d9d9;

//variables de media query
$view-s: 576px;
$view-m: 760px;
$view-l: 1104px;
$view-l: 1200px;
$view-xxl: 1400px;
